* {
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.left-parent,
.right-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-one,
.left-one {
  width: 50%;
  height: 100%;
}

.right-one {
  background-color: aquamarine;
}

.left-one {
  background-color: crimson;
}

.right-two,
.left-two,
.right-three,
.left-three,
.left-child,
.right-child {
  height: 80%;
  width: 80%;
}

.right-two {
  background-color: goldenrod;
}

.left-two {
  background-color: dodgerblue;
}

.right-three {
  background-color: palevioletred;
}

.left-three {
  background-color: mediumspringgreen;
}
